@import url("https://fonts.googleapis.com/css2?family=Galindo&family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

@theme{
  --font-Galindo:'Outfit', 'sans-serif'
}

@keyframes float {
  0%   { transform: translateY(0px) translateX(0px); }
  50%  { transform: translateY(-20px) translateX(10px); }
  100% { transform: translateY(0px) translateX(0px); }
}

.animate-float-slow {
  animation: float 6s ease-in-out infinite;
}

.animate-float-medium {
  animation: float 4s ease-in-out infinite;
}

.animate-float-fast {
  animation: float 3s ease-in-out infinite;
}